@import "../../../shared/styles/theme_variables";

.container {
  display: flex;

  button {
    padding: 4px 8px;
    background-color: $innactive-button-color;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $innactive-button-hover-color;
    }

    &.active {
      background-color: $button-color;
      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .left {
    border-radius: 5px 0 0 5px;
  }

  .right {
    border-radius: 0 5px 5px 0;
  }

  .separator {
    width: 2px;
    background-color: $dark-color;
  }
}
