<div class="container">
  <button class="left" (click)="leftClicked()" [ngClass]="state === 'left' ? 'active' : ''">
    {{title1}}
  </button>

  <div class="separator"></div>

  <button class="middle" (click)="middleClicked()" [ngClass]="state === 'both' ? 'active' : ''">
    Both
  </button>

  <div class="separator"></div>

  <button class="right" (click)="rightClicked()" [ngClass]="state === 'right' ? 'active' : ''">
    {{title2}}
  </button>
</div>
