<app-header></app-header>

<div class="page-body">
  <div class="filter">
    <tri-state-switcher class="filter-item"
                        [title1]="'Online'"
                        [title2]="'Offline'"
                        [state]="playerStatusFilter"
                        (stateChanged)="updateFilter($event)">
    </tri-state-switcher>
    <span class="filter-item">
    Displayed users: {{getPlayersToDisplay().length}}
  </span>
  </div>

  <ng-container *ngIf="players; else loadingPlayers">
    <div class="players" *ngFor="let player of getPlayersToDisplay()">
      <div class="player">
        <span>{{player.name}}</span>
      </div>
    </div>
  </ng-container>
</div>

<app-footer></app-footer>

<ng-template #loadingPlayers>
  Loading players...
</ng-template>
