// Colors taken from http://mcg.mbitson.com/#!?mcgpalette0=%23483d8b&themename=darkslateblue
$main-color: darkslateblue;
$dark-color: #30276E;
$light-color: #635A9C;

$secondary-color: #A298FF;

$button-color: $main-color;
$button-hover-color: $dark-color;
$innactive-button-color: #C8C5DC;
$innactive-button-hover-color: #A49EC5;


$game-background-color: azure;
$game-background-hover: #c6dddd;

$error-color: #c63535;

$main-font: 16px "Times New Roman";
$validation-font: 12px "Times New Roman";

.page-body {
  display: flex;
  flex: 1;
  margin: 0 32px;
  flex-direction: column;
}
