@import "src/app/shared/styles/theme_variables";

.card {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid black;

  &.selected {
    outline: 3px solid $main-color;
  }

  .health {
    color: white;
    /* For outline */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
