@import "/src/app/shared/styles/theme_variables";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-body {
  display: flex;
  flex-direction: column;

  .spacer {
    height: 20vh;
  }

  .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

label {
  margin-bottom: 4px;
}

.input-container {
  position: relative;
  padding-bottom: 22px;
  display: flex;
  $input-height: 18px;

  input {
    height: $input-height;
  }

  .validation-error {
    position: absolute;
    top: $input-height + 6px;
    font: $validation-font;
    color: $error-color;
  }
}
