<div class="page-body">
  <div class="spacer"></div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="name">Name: </label>
      <div class="input-container">
        <input id="name" type="text" formControlName="name">
        <span class="validation-error" *ngIf="form.controls['name'].errors?.['invalid']">User does not exist</span>
      </div>

      <button type="submit" [disabled]="!form.valid">Log in</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
