@import "src/app/shared/styles/theme_variables";

:host {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;

  &.hoverEnabled:hover {
    background-color: $game-background-hover;
    outline: 3px solid $main-color;
    cursor: pointer;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    height: 95%;
    width: 100px;
    margin: 0 10px;
    cursor: pointer;
  }
}
