<div class="container" [ngClass]="{'hoverEnabled': isHoverEnabled}" (click)="onRowClicked()">
  <div class="cards" *ngFor="let card of cards$ | async">
    <card class="card"
          [card]="card"
          [imageName]="getCardImageName(card)"
          [isSelected]="false"
    ></card>
  </div>
</div>
