@import "src/app/shared/styles/theme_variables";

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: -65px;
  left: 0;
  bottom: -50px;
  right: 0;
  background-color: $game-background-color;

  transform:
    perspective(75em)
    rotateX(18deg);
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 1px solid;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);

  .hand {
    flex: 1;
    width: 100%;
    border: gray 1px solid;
  }

  .row {
    flex: 1;
    width: 100%;
    border: gray 1px solid;
  }
}
