<app-header></app-header>

<ng-container *ngIf="isStarted$ | async; else gameNotStarted">
  <div class="game-container">
    <cards-on-hand class="hand enemy" [cards$]="enemyCards$" [playerCanInteract]="false"></cards-on-hand>
    <cards-row [rowId]="'range'"
               [cards$]="enemyCardsRowRange$"
               class="row enemy"></cards-row>
    <cards-row [rowId]="'melee'"
               [cards$]="enemyCardsRowMelee$"
               class="row enemy"></cards-row>

    <cards-row [isHoverEnabled]="isHoverEnabled"
               [rowId]="'melee'"
               [cards$]="playerCardsRowMelee$"
               class="row player">
    </cards-row>
    <cards-row [isHoverEnabled]="isHoverEnabled"
               [rowId]="'range'"
               [cards$]="playerCardsRowRange$"
               class="row player">
    </cards-row>
    <cards-on-hand class="hand player" [cards$]="playerCards$" [playerCanInteract]="true"></cards-on-hand>
  </div>
</ng-container>

<ng-template #gameNotStarted>
  Game not started
</ng-template>
