@import "../../../shared/styles/theme_variables";

header {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  background-color: $main-color;

  .header-navigation {
    display: flex;
    padding: 0;
    list-style: none;
    color: white;

    &.user {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  .item {
    margin-right: 16px;
    a {
      color: white;
    }
  }
}

.user-avatar {
  height: 25px;
  margin-right: 4px;
}
