<header>
  <ul class="header-navigation">
    <li class="item">
      <a routerLink="/players" routerLinkActive="active">Players</a>
    </li>
    <li class="item">
      <a routerLink="/cards/start" routerLinkActive="active">Card Game</a>
    </li>
  </ul>

  <ul class="header-navigation user">
    <ng-container *ngIf="player; else not_logged_in">
      <img src="../../../../assets/user-icon.svg" class="user-avatar">
      {{player.name}}
    </ng-container>
  </ul>
</header>

<ng-template #not_logged_in>
  <li class="item">
    <a routerLink="/auth/login" routerLinkActive="active">Log in</a>
  </li>
</ng-template>
