:host {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    height: 95%;
    width: 100px;
    margin: 0 10px;

    &.intractable {
      cursor: pointer;
    }
  }
}
