<div class="cards" *ngFor="let card of cards$ | async">
  <card class="card"
        [ngClass]="{'intractable': playerCanInteract}"
        [card]="card"
        [imageName]="getCardImageName(card)"
        [isSelected]="isCardSelected(card)"
        (click)="onCardClicked(card)"
  ></card>
</div>
